@charset "ISO-8859-1";
.animation-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 10px;
    background-color: #ffc107;
    color: #1e3226;
    font-size: 10px;
    line-height: 50px;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: all 0.3s linear;
    font-family: 'Catamaran', sans-serif;
    z-index: 1;
}
.animation-button:before {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0px;
    width: 100%;
    content: "";
    transform: translateX(-100%);
    transition-duration: 800ms;
    background-color: #006940;
    z-index: 1;
}

.animation-button:hover:before {
    transform: translateX(0px);
}

.animation-button:hover,
.animation-button:focus {
    color: #ffffff;
}